In [6]:
for character in"programming":
    print(character,end=' ')

p r o g r a m m i n g

In [13]:
for character in"programming":
    print(10,20,30,sep=' ; ')

10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30
10 ; 20 ; 30

In [15]:
x=5
print(f"the value of x is {x}")

the value of x is 5

In [19]:
# WAP to find a class average of grades..
t=0
gc=0
print("enter -1 to stop")
grade=int(input("enter the grade "))
while grade!= -1:
    t=t+grade
    gc=gc+1
    grade=int(input("enter the grade "))
avg=t/gc
print(f"Class average is {avg}")

SyntaxError: invalid syntax (3562207769.py, line 1)

In [ ]:
#WAP to print from 1 to 10 using for
#1. use break, 2. Use continue

In [22]:
for i in range (1,10):
    if(i==6):
        break
    print(i)

1
2
3
4
5

In [24]:
for i in range (1,11):
    if(i==6):
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [28]:
#<Central Tendecies>
import statistics
grades=[90,98,99,87,86,100,98,99]
print(statistics.mean(grades))
print(statistics.median(grades))
print(statistics.mode(grades))

94.625
98.0
98

In [29]:
#Function Chapter-3
def square(number):
    return number**2
square(5)

25

In [30]:
#NA,NR
num=5
print(num**2)

25

In [31]:
#A,NR
def square(number):
    print(number**2)
square(5)

25

In [41]:
#NA,R
n=5
def square():
    return num**2
square()

25

In [55]:
#RNG
import random
random.seed(43)
for roll in range(10):
    print(random.randrange(1,7),end=' ')

1 3 6 2 4 3 6 6 1 4

In [56]:
x=2
print((x**3)+(2*x**2)+(3*x)+4)

26

In [57]:
a=1.21
b=1.2
c=1.22
print((a<b)or(not(c==b)and(c<a)))

False

In [59]:
p=1000
r=.12
for n in [10,20,30]:
    a=p*(1+r)**n
    print(a)

3105.8482083442123
9646.293093274951
29959.92212091116